@model DisasterReliefHub.Models.DwollaDonation

@{
    ViewBag.Title = "CreateDonate";
}

@using (Html.BeginForm())
{
    string disaster = string.Empty;
        if (Model.Disaster != null)
        {
            disaster = " for " + Model.Disaster.Description;
        }
    <h2>Thank for donating to @Model.Agency.Description@disaster</h2>
    <fieldset>
        <div class="editor-label">Amount Donated</div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Amount)
        </div>
        
        <div class="editor-label">Transaction</div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Transaction)
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
