@using DisasterReliefHub.Code
@model List<Disaster>
@using DisasterReliefHub.Domain.Models
@{
    ViewBag.Title = "Disaster";
}

<h2>Disasters</h2>
<section>
                <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (Disaster disaster in Model)
                        {
                            <tr>
                                <td>@disaster.Name</td>
                                <td>@disaster.Description</td>
                                <td>
                                   @if (SecurityHelper.IsCurrentUserAdmin())
                                   {
                                       <a href="@Url.Action("Edit", new { agencyId = disaster.Id })">Edit</a>
                                   }
                                    <a href="@Url.Action("Index", "Donate", new {agencyId = 1, disasterId = disaster.Id})">Donate</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
             @if (SecurityHelper.IsCurrentUserAdmin())
             {
                 <a class="btn btn-large" href="@Url.Action("Edit")">Add Disaster</a>
             }
</section>
