@using DisasterReliefHub.Domain.Models
@model DisasterReliefHub.Models.SpecialDisaster
@{
    ViewBag.Title = "Disaster";
}
@section styles{
    <link rel="stylesheet" href="~/Resources/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/Resources/css/datatables.css" />
}
@section scripts
{
    <script>
        $(function () {
            $("#agencyId").val($("#Donation_Agency_Id").val());
            $("#agencyId").change(function (e) {
                var selected = $("#agencyId").find(":selected").val();
                $("#Donation_Agency_Id").val(selected);
            });
            
        });
    </script>
}
<h2>Hack The Midwest Earthquake (Kansas City, KS)</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#A" data-toggle="tab">About</a></li>
    <li class=""><a href="#B" data-toggle="tab">Supporting Agencies</a></li>
    <li class=""><a href="#C" data-toggle="tab">Give</a></li>
    <li class=""><a href="#D" data-toggle="tab">Donations</a></li>
    <li class=""><a href="#E" data-toggle="tab">Who is Safe?</a></li>
</ul>
<div class="tabbable">
    <div class="tab-content">
        <div class="tab-pane active" id="A">
            <iframe style="float:right;margin-left:10px;margin-right:20px" width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=39.12323499981032,-94.74863671535867&amp;sspn=0.2634524841361534,0.41687771293984693&amp;t=h&amp;q=1702+Village+West+Parkway,+Kansas+City,+KS+66111&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=1702+Village+W+Pkwy,+Kansas+City,+Wyandotte,+Kansas+66111&amp;ll=39.121138,-94.823341&amp;spn=0.005827,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
            <p>After 27+ grueling hours of app building, high-five-giving, and pizza eating…teams at Hack The Midwest presented their entries in hopes of winning a prize (or two)!</p>
            <p>With over 100 developers & 28 submissions…there were some amazing ideas! We’re excited to bring you the first in a series of posts about Hack The Midwest!</p>
            <p>Today, we’ll be covering 4 of the winning entries for our “Special Award” categories as selected by our panel of judges. Check back this week for more updates – which include the remaining winners of “Special Award” categories and the best use of our partner APIs.</p>
            <br />
            <h3>Recent News (Positive/Negative)</h3>
            <ul id="news"></ul>
        </div>
        <div class="tab-pane" id="B">
            <ul id="agencies" class="clearfix">
                @foreach (var agency in Model.Agencies)
                {
                        <li class="clearfix">
                            <img src="@agency.Image" />
                            <h3>@agency.Name</h3>
                            <p>@Html.Raw(agency.Description)</p>
                        </li>
                }
            </ul>
        </div>
        <div class="tab-pane" id="C">
            <h3>Give to support the Hack The Midwest Earthquake disaster</h3>
            <fieldset>
                <div class="editor-label"><label>Give To</label></div>
                <div class="editor-field">
                    <select name="agencyId" id="agencyId" class="select ui-widget-content ui-corner-all">
                        @foreach (var agency in Model.Agencies)
                        {
                            <option value="@agency.Id">@agency.Name</option>
                        }
                    </select>
                </div>
            </fieldset>
            @Html.Partial("DonationControl", Model.Donation)
        </div>
        <div class="tab-pane" id="D">
            <h3>Contributions to the Cause...Thank You!</h3>
            <section>
            @if (Model.Donations != null && Model.Donations.Any())
            {
                <ul id="donations">
                 @for (int idx = 0; idx < Model.Donations.Count; idx++)
                 {
                     var donation = Model.Donations[idx];
                     string style = ((idx % 2) == 0) ? "left" : "right";
                     <li class="clearfix"><p>@string.Format("{0} {1}", @donation.FirstName, @donation.LastName)</p><div class="bubble"><p>@donation.Notes</p><span>@string.Format("{0:C}",donation.Amount)</span></div></li>
                 }
                </ul>
            }
            </section>
        </div>
        <div class="tab-pane" id="E">
            <p>List of Safe People</p>
            <section>
    <div id="streams">  
        <div id="stream-container-1" class="stream-container"></div>
        <div id="stream-container-2" class="stream-container"></div>
        <div id="stream-container-3" class="stream-container"></div>
        <div id="stream-container-4" class="stream-container"></div>
     </div>
             @if (Model.SafePeople != null && Model.SafePeople.Any())
             {
                <ul id="safe">
                 @for (int idx = 0; idx < Model.SafePeople.Count; idx++)
                 {
                     var person = Model.SafePeople[idx];
                     string style = ((idx % 2) == 0) ? "left" : "right";
                     <li class="clearfix"><p>@string.Format("{0} {1}", @person.FirstName, @person.LastName)</p><div class="bubble"><p>@person.Message</p><input type="button" value=" Chat " onclick="videoChat('@person.Id    ')" /></div></li>
                 }
                </ul>
             }          
</section>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#Amount').attr('placeholder', '0.00').val('');
        /*
        $.getJSON('http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q=https%3A%2F%2Fnews.google.com%2Fnews%2Fsearch%3Fq%3Dhackathon%26output%3Drss', function (data) {
            var items = [];
            $.each(data.responseData.feed.entries, function (key, feed) {
                $.ajax({
                    dataType: "json",
                    url: 'http://access.alchemyapi.com/calls/url/URLGetTextSentiment?jsonp=?&apikey=0cde067eab8748de7723828d1573bd43fc35553f&outputMode=json&url=' + escape(feed.link),
                    async:false,
                    success: function (response) {
                        var sentiment = response.docSentiment.type;
                        $('#news').append('<li><div class="sentiment"><img src="/Resources/images/' + sentiment + '.png" /></div><h6><a href="' + feed.link + '">' + feed.title + '</a></h6>' + feed.content + '</li>');
                    }
                });
            });
        });*/
    });
    function videoChat(id) {
        $('#streams').show();
        var sessionId = '';
        var session = '';
        var token = '';
        var apiKey = '32385772';
        $.getJSON('http://comicbookrealm.com/contextio/opentok.php?id='+id+'&callback=?',function(response) {
            sessionId = response.sessionId;
            token = response.token;
            // Enable console logs for debugging
            TB.setLogLevel(TB.DEBUG);

            // Initialize session, set up event listeners, and connect
            session = TB.initSession(sessionId);
            session.addEventListener('sessionConnected', sessionConnectedHandler);
            session.addEventListener('streamCreated', streamCreatedHandler);
            session.connect(apiKey, token);
        });
          
        function sessionConnectedHandler(event) {
            var div = document.createElement("div");
            div.setAttribute("id", "publisher");
            //alert(event.streams.length+1);
            var streamscount = parseInt(event.streams.length)+1;
            var container = document.getElementById("stream-container-"+streamscount);
            container.appendChild(div);

            var publisher = TB.initPublisher(apiKey, "publisher");
            session.publish(publisher);

            subscribeToStreams(event.streams);
        }

        function streamCreatedHandler(event) {
            subscribeToStreams(event.streams);
        }

        function streamDestroyedHandler(event) {
            for (var i = 0; i < event.streams.length; i++) {
                var stream = event.streams[i];
                streams.splice(_streams.indexOf(stream), 1);
            }
        }

        function subscribeToStreams(streams) {
            for (var i = 0; i < streams.length; i++) {
                if (streams.length >= 4) {
                    return;
                }

                var stream = streams[i];
                streams.push(stream);

                // Make sure we don't subscribe to ourself
                if (streams[i].connection.connectionId == session.connection.connectionId) {
                    //$("#allowFloater").fadeOut('fast');
                    return;
                }

                var containerDivId;
                // Get the first strema container without a stream
                $(".stream-container").each(function(index, container) { 
                    if (!containerDivId && $(this).children().length == 0) {
                        containerDivId = this.id;
                    }
                });

                if (!containerDivId) {
                    return;
                }

                // Create the div to put the subscriber element in to
                var div = document.createElement('div');
                div.setAttribute('id', 'stream' + streams[i].streamId);

                var container = document.getElementById(containerDivId);
                container.appendChild(div);

                // Subscribe to the stream
                session.subscribe(streams[i], div.id);
            }
        }
   }
</script>
<style>
    #A {
        font-size: 1.5em;
    }
        #A p {
            margin-bottom: 20px;
        }
    #news {
    }
    #news li {
        list-style: none;height: 150px;overflow: hidden;border-bottom:1px solid #ccc;border-top:1px solid #fff;
    }
        #news li h6 {
            max-width: 685px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top:0px;
            padding:5px
        }
    #news li:first-of-type {
        border-top: none;
    }
    #news .sentiment {
        float: right;margin-top: 10px;margin-right:20px;
    }
    #news li table tr td:last-child font br:first-child {
        display: none;
    }
    #news li table tr td:last-child font div:first-of-type {
        display: none;
    }
    #agencies {
    }
        #agencies li {
            list-style: none;border-bottom:1px solid #ccc;border-top:1px solid #fff
        }
            #agencies li img {
                float: right;max-height:100px;margin:80px 20px 50px 20px
            }
    #agencies li:first-of-type {
        border-top: none;
    }#streams {
border: 1px solid #bbb;
height: 525px;
margin: 0 auto;
border-radius: 3px;
overflow: hidden;
}#streams  {
  border: 1px solid #bbb;
  height: 525px;
  margin: 0 auto;
  border-radius: 3px;
  overflow: hidden;
  display:none;
}

.stream-container {
  width: 50%;
  height: 50%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.stream-container > * {
  height: 100% !important;
  width: 100% !important;
}

#stream-container-1 {
  border-right: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

#stream-container-2 {
  border-bottom: 1px dotted #ccc;
}

#stream-container-3 {
  border-right: 1px dotted #ccc;
}
    #donations li, #safe li {
        list-style: none;margin-bottom:5px
    }
    #donations li > p:first-of-type, #safe li > p:first-of-type {
float: left;
width: 150px;
text-align: right;
margin-right: 25px;
padding-top: 12px;

    }
    #donations li div p, #safe li div p {
padding-top:13px;
float:left
    }
        #donations li div span {
            font-size: 2.5em;
            float: right;
            margin-right: 25px;
            margin-top: 8px;
        }
    .bubble 
{
    float:left;
position: relative;
width: 75%;
padding: 2px 5px 2px 10px;
background: #ffffff;
border: #7F7F7F solid 3px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
    .bubble input[type=button] {
        float: right;margin:right:10px
    }
.bubble:after 
{
content: "";
position: absolute;
top: 10px;
left: -15px;
border-style: solid;
border-width: 11px 15px 11px 0;
border-color: transparent #ffffff;
display: block;
width: 0;
z-index: 1;
}

.bubble:before 
{
content: "";
position: absolute;
top: 8px;
left: -20px;
border-style: solid;
border-width: 13px 17px 13px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
}
</style>
