@model DisasterReliefHub.Models.SpecialDisaster
@{
    ViewBag.Title = "Disaster";
}
@section scripts
{
    $(document).ready(function(){
    $("agencyId").change(function(e){});
    });
}
<h2>Black Forest Fire (Black Forest, Colorado)</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#A" data-toggle="tab">About</a></li>
    <li class=""><a href="#B" data-toggle="tab">Supporting Agencies</a></li>
    <li class=""><a href="#C" data-toggle="tab">Give</a></li>
    <li class=""><a href="#D" data-toggle="tab">Donations</a></li>
    <li class=""><a href="#E" data-toggle="tab">Who is Safe?</a></li>
</ul>
<div class="tabbable">
    <div class="tab-content">
        <div class="tab-pane active" id="A">
            <iframe style="float:right" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=39.1236290381491,-94.7493542618075&amp;sspn=1.0542395376288178,1.8378613908683163&amp;t=h&amp;q=black+forest,+colorado&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=Black+Forest,+El+Paso,+Colorado&amp;ll=39.02702,-104.687042&amp;spn=0.118553,0.164108&amp;z=13&amp;output=embed"></iframe>
            <p>The Black Forest fire is an ongoing forest fire that began near Highway 83 and Shoup Road in Black Forest, Colorado around 1:00 PM on June 11, 2013. As of the morning of June 13, 2013 several evacuations for the area have been ordered, and at least 360 structures have been lost according to The Denver Post. The evacuation area is 94,000 acres (147 sq mi; 380 km2) acres, 13,000 homes and 38,000 people. The fire has estimated to have currently burned over 15,000 acres (23 sq mi; 61 km2). There have been two fatalities as a result of this fire.</p>
            <p>Three shelters have been coordinated in the area for humans, including Elbert County Fairgrounds, which is accepting humans, pets, and large animals. Two other shelters are designated for large animals only.</p>
            <p>The Denver Post reported (as of June 13) 457 firefighters were working the fireline, including agencies around the fire and the Colorado National Guard, as well as select personnel from fire suppression teams on Fort Carson and the nearby Air Force Academy. Governor Hickenlooper addressed Emergency Managers at the command post on June 12th. U.S. Northern Command is assisting with fire fighting efforts.</p>
            <p>It is the most destructive fire in Colorado state history, surpassing the 2012 Waldo Canyon Fire, which also began near Colorado Springs.</p>
            <br />
            <h3>Recent News (Positive/Negative)</h3>
            <ul id="news"></ul>
        </div>
        <div class="tab-pane" id="B">
            <ul id="agencies" class="clearfix">
                <li class="clearfix">
                    <img src="/Resources/images/agency_1.png" />
                    <h3>American Red Cross Pikes Peak Chapter</h3>
                    <p>The American Red Cross exists to provide compassionate care to those in need. Our network of generous donors, volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world.</p>
                    <p>The Red Cross responds to approximately 70,000 disasters in the United States every year, ranging from home fires that affect a single family to hurricanes that affect tens of thousands, to earthquakes that impact millions. In these events, the Red Cross provides shelter, food, health and mental health services to help families and entire communities get back on their feet. Although the Red Cross is not a government agency, it is an essential part of the response when disaster strikes. We work in partnership with other agencies and organizations that provide services to disaster victims.</p>
                </li>
                <li class="clearfix">
                    <img src="/Resources/images/agency_2.png" />
                    <h3>Pikes Peak Community Foundation's Emergency Relief Fund</h3>
                    <p>The Pikes Peak Community Foundation launched the Emergency Relief Fund for the Pikes Peak Region to benefit non-profits providing local disaster relief.  The fund is modeled on last year’s Waldo Canyon Firefighters Fund, which received an outpouring of community support, but was limited to the Waldo Canyon fire.  The Emergency Relief Fund for the Pikes Peak Region will have more flexibility to quickly respond to the community's needs.</p>
                </li>
                <li class="clearfix">
                    <img src="/Resources/images/agency_3.gif" />
                    <h3>Salvation Army - Intermountain</h3>
                    <p>Founded more than 130 years ago by William Booth, The Salvation Army is a religious and social service organization, a branch of the Christian Church dedicated to the battle against sin and despair.</p>
                    <p>There is an integrated ministry to body, mind and soul. The Army seeks not only to improve the physical environment and provide for material needs, but also to reveal the power of Christ's love. Its social services programs assist children, the elderly, families, and those battling addiction.</p>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="C">
            <h3>Give to support the Black Forest Fire disaster</h3>
           @using (Html.BeginForm("Index", "Donate"))
           {
               @Html.AntiForgeryToken()
               @Html.ValidationSummary(true)
               <fieldset>
                   @Html.HiddenFor(model => model.Donation.Agency.Id)
                   @Html.HiddenFor(model => model.Donation.Disaster.Id)
                   <legend>Dwolla Donation</legend>
                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.FirstName)
                   </div>
                   <div class="editor-field">
                       @Html.EditorFor(model => model.Donation.FirstName)
                       @Html.ValidationMessageFor(model => model.Donation.FirstName)
                   </div>

                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.LastName)
                   </div>
                   <div class="editor-field">
                       @Html.EditorFor(model => model.Donation.LastName)
                       @Html.ValidationMessageFor(model => model.Donation.LastName)
                   </div>
        
                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.Email)
                   </div>
                   <div class="editor-field">
                       @Html.EditorFor(model => model.Donation.Email)
                       @Html.ValidationMessageFor(model => model.Donation.Email)
                   </div>
               </fieldset>
               <h3>Give</h3>
               <fieldset>
                   <div class="editor-label">Give To</div>
                   <div class="editor-field">
                       <select name="agencyId" id="agencyId" class="select ui-widget-content ui-corner-all">
                           @foreach (var agency in Model.Agencies)
                           {
                               <option value="@agency.Id">@agency.Description</option>
                           }
                       </select>
                   </div>

                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.Amount)
                   </div>
                   <div class="editor-field">
                       @Html.EditorFor(model => model.Donation.Amount)
                       @Html.ValidationMessageFor(model => model.Donation.Amount)
                   </div>

                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.BankAccount)
                   </div>
                   <div class="editor-field">
                       @Html.EditorFor(model => model.Donation.BankAccount)
                       @Html.ValidationMessageFor(model => model.Donation.BankAccount)
                   </div>

                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.RoutingNumber)
                   </div>
                   <div class="editor-field">
                       @Html.EditorFor(model => model.Donation.RoutingNumber)
                       @Html.ValidationMessageFor(model => model.Donation.RoutingNumber)
                   </div>
        
                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.AccountType)
                   </div>
                   <div class="editor-field">
                       <select name="AccountType" id="AccountType" class="select ui-widget-content ui-corner-all">
                           <option value="0">Checking</option>
                           <option value="1">Savings</option>
                       </select>
                       @Html.ValidationMessageFor(model => model.Donation.RoutingNumber)
                   </div>
        

                   <div class="editor-label">
                       <label for="anonymous">Give Anonymously?</label>
                   </div>
                   <div class="editor-field">
                       <input type="checkbox" name="IsAnonymously" id="IsAnonymously" value="1" />
                   </div>

                   <div class="editor-label">
                       @Html.LabelFor(model => model.Donation.Notes)
                   </div>
                   <div class="editor-field">
                       @Html.TextAreaFor(model => model.Donation.Notes, new { onkeyup = "if(parseInt($(this).val().length)>250) {$(this).val($(this).val().substr(0,250)) }$('#chars').html(250-parseInt($(this).val().length)+' characters remaining')", })
                       <br /><span id="chars">250 characters remaining</span>
                       @Html.ValidationMessageFor(model => model.Donation.Notes)
                   </div>

                   <p>
                       <input type="submit" value="Create" />
                   </p>
               </fieldset>
           }
        </div>
        <div class="tab-pane" id="D">
            <p>List of Donations Made</p>
        </div>
        <div class="tab-pane" id="E">
            <p>List of Safe People</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        /*
        $.getJSON('http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q=https%3A%2F%2Fnews.google.com%2Fnews%2Fsearch%3Fq%3Dblack%2Bforest%2Bfire%26output%3Drss', function (data) {
            var items = [];
            $.each(data.responseData.feed.entries, function (key, feed) {
                $.ajax({
                    dataType: "json",
                    url: 'http://access.alchemyapi.com/calls/url/URLGetTextSentiment?jsonp=?&apikey=0cde067eab8748de7723828d1573bd43fc35553f&outputMode=json&url=' + escape(feed.link),
                    async:false,
                    success: function (response) {
                    var sentiment = response.docSentiment.type;
                    $('#news').append('<li><div class="sentiment"><img src="/Resources/images/' + sentiment + '.png" /></div><h6><a href="' + feed.link + '">' + feed.title + '</a></h6>' + feed.content + '</li>');
                    }
                });
            });
        });*/
    });
</script>
<style>
    #news {
    }
    #news li {
        list-style: none;height: 150px;overflow: hidden;border-bottom:1px solid #ccc;border-top:1px solid #fff;
    }
    #news li:first-of-type {
        border-top: none;
    }
    #news .sentiment {
        float: right;margin-top: 10px;
    }
    #news li table tr td:last-child font br:first-child {
        display: none;
    }
    #news li table tr td:last-child font div:first-of-type {
        display: none;
    }
    #agencies {
    }
        #agencies li {
            list-style: none;border-bottom:1px solid #ccc;border-top:1px solid #fff
        }
            #agencies li img {
                float: right;max-height:100px;margin:20px
            }
    #agencies li:first-of-type {
        border-top: none;
    }
</style>
