@using DisasterReliefHub.Domain.Models
@model DisasterReliefHub.Models.SpecialDisaster
@{
    ViewBag.Title = "Disaster";
}
@section styles{
    <link rel="stylesheet" href="~/Resources/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/Resources/css/datatables.css" />
}
@section scripts
{
    <script type="text/javascript" src="/Resources/js/lib/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#agencyId").val($("#Donation_Agency_Id").val());
            $("#agencyId").change(function (e) {
                var selected = $("#agencyId").find(":selected").val();
                $("#Donation_Agency_Id").val(selected);
            });
            
            var dataTable = $('#safegrid').dataTable({
                //            sDom: '<"top"i>rt<"bottom"lp<"clear">',
                sPaginationType: "full_numbers",
                "aoColumns": [
                    null,
    null,
    null],
                bFilter: false,
                bInfo: true,
                bJQueryUI: true,
                bProcessing: false,
                bServerSide: false,
            });

            $('#safegrid').show();
            $('input.filter').keyup(function () {
                /* Filter on the column (the index) of this element */
                $('#safegrid').dataTable().fnFilter($(this).val(), $(this).data('tablecolumn'));
            });
            
            var donations = $('#donations').dataTable({
                sPaginationType: "full_numbers",
                "aoColumns": [null,null,null],
                bFilter: false,
                bInfo: true,
                bJQueryUI: true,
                bProcessing: false,
                bServerSide: false,
            });

            $('#donations').show();
        });
    </script>
}
<h2>Hack The Midwest Earthquake (Kansas City, KS)</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#A" data-toggle="tab">About</a></li>
    <li class=""><a href="#B" data-toggle="tab">Supporting Agencies</a></li>
    <li class=""><a href="#C" data-toggle="tab">Give</a></li>
    <li class=""><a href="#D" data-toggle="tab">Donations</a></li>
    <li class=""><a href="#E" data-toggle="tab">Who is Safe?</a></li>
</ul>
<div class="tabbable">
    <div class="tab-content">
        <div class="tab-pane active" id="A">
            <iframe style="float:right;margin-left:10px;margin-right:20px" width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=39.12323499981032,-94.74863671535867&amp;sspn=0.2634524841361534,0.41687771293984693&amp;t=h&amp;q=1702+Village+West+Parkway,+Kansas+City,+KS+66111&amp;dg=opt&amp;ie=UTF8&amp;hq=&amp;hnear=1702+Village+W+Pkwy,+Kansas+City,+Wyandotte,+Kansas+66111&amp;ll=39.121138,-94.823341&amp;spn=0.005827,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
            <p>After 27+ grueling hours of app building, high-five-giving, and pizza eating…teams at Hack The Midwest presented their entries in hopes of winning a prize (or two)!</p>
            <p>With over 100 developers & 28 submissions…there were some amazing ideas! We’re excited to bring you the first in a series of posts about Hack The Midwest!</p>
            <p>Today, we’ll be covering 4 of the winning entries for our “Special Award” categories as selected by our panel of judges. Check back this week for more updates – which include the remaining winners of “Special Award” categories and the best use of our partner APIs.</p>
            <br />
            <h3>Recent News (Positive/Negative)</h3>
            <ul id="news"></ul>
        </div>
        <div class="tab-pane" id="B">
            <ul id="agencies" class="clearfix">
                @foreach (var agency in Model.Agencies)
                    {
                        <li class="clearfix">
                            <img src="@agency.Image" />
                            <h3>@agency.Name</h3>
                            <p>@Html.Raw(agency.Description)</p>
                        </li>
                    }
            </ul>
        </div>
        <div class="tab-pane" id="C">
            <h3>Give to support the Hack The Midwest Earthquake disaster</h3>
            <fieldset>
                <div class="editor-label"><label>Give To</label></div>
                <div class="editor-field">
                    <select name="agencyId" id="agencyId" class="select ui-widget-content ui-corner-all">
                        @foreach (var agency in Model.Agencies)
                        {
                            <option value="@agency.Id">@agency.Name</option>
                        }
                    </select>
                </div>
            </fieldset>
            @Html.Partial("DonationControl", Model.Donation)
        </div>
        <div class="tab-pane" id="D">
            <p>List of Donations Made</p>
            <section>
                    <table class="table table-bordered table-striped table-hover" id="donations">
        <thead>
            <th>Name</th>
            <th>Message</th>
            <th>Donation</th>
        </thead>
        <tbody>
            @if (Model.Donations  != null && Model.Donations.Any())
            {
                foreach (Donation donation in Model.Donations)
                {
                <tr>
                    <td>@string.Format("{0} {1}", @donation.FirstName, @donation.LastName)</td>
                    <td>@donation.Notes</td>
                    <td>@donation.Amount</td>
                </tr>
                }
            }
        </tbody>
        <tfoot></tfoot>
    </table>
            </section>
        </div>
        <div class="tab-pane" id="E">
            <p>List of Safe People</p>
            <section>
    <div id="table-filters">
        <div class="left-culumn">
            <div class="field">
                <div class="editor-label">Person Filter</div>
                <div class="editor-field">
                    <input class="filter actions" data-tablecolumn="1" />
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover" id="safegrid">
        <thead>
            <th>Name</th>
            <th>Message</th>
            <th>Actions</th>
        </thead>
        <tbody>
            @if (Model.SafePeople != null && Model.SafePeople.Any())
            {
                foreach (SafePerson person in Model.SafePeople)
                {
                <tr>
                    <td>@string.Format("{0} {1}", @person.FirstName, @person.LastName)</td>
                    <td>@person.Message</td>
                    <td></td>
                </tr>
                }
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</section>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.getJSON('http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q=https%3A%2F%2Fnews.google.com%2Fnews%2Fsearch%3Fq%3Dhackathon%26output%3Drss', function (data) {
            var items = [];
            $.each(data.responseData.feed.entries, function (key, feed) {
                $.ajax({
                    dataType: "json",
                    url: 'http://access.alchemyapi.com/calls/url/URLGetTextSentiment?jsonp=?&apikey=0cde067eab8748de7723828d1573bd43fc35553f&outputMode=json&url=' + escape(feed.link),
                    async:false,
                    success: function (response) {
                        var sentiment = response.docSentiment.type;
                        $('#news').append('<li><div class="sentiment"><img src="/Resources/images/' + sentiment + '.png" /></div><h6><a href="' + feed.link + '">' + feed.title + '</a></h6>' + feed.content + '</li>');
                    }
                });
            });
        });
    });
</script>
<style>
    #A {
        font-size: 1.5em;
    }
        #A p {
            margin-bottom: 20px;
        }
    #news {
    }
    #news li {
        list-style: none;height: 150px;overflow: hidden;border-bottom:1px solid #ccc;border-top:1px solid #fff;
    }
    #news li:first-of-type {
        border-top: none;
    }
    #news .sentiment {
        float: right;margin-top: 10px;margin-right:20px;
    }
    #news li table tr td:last-child font br:first-child {
        display: none;
    }
    #news li table tr td:last-child font div:first-of-type {
        display: none;
    }
    #agencies {
    }
        #agencies li {
            list-style: none;border-bottom:1px solid #ccc;border-top:1px solid #fff
        }
            #agencies li img {
                float: right;max-height:100px;margin:80px 20px 50px 20px
            }
    #agencies li:first-of-type {
        border-top: none;
    }
</style>
