<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/Resources/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/Resources/css/bootstrap-responsive.css"/>
        <script type="text/javascript" src="~/Resources/js/jquery/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="~/Resources/js/jquery/jquery-ui-1.8.24.js"></script>
        <script type="text/javascript" src="~/Resources/js/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="~/Resources/js/lib/modernizr-2.6.2.js"></script>
        <script type="text/javascript">
            function retrieve_zip(callback) {
                try { if (!google) { google = 0; } } catch (err) { google = 0; } // Stupid Exceptions
                if (navigator.geolocation) // FireFox/HTML5 GeoLocation
                {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        zip_from_latlng(position.coords.latitude, position.coords.longitude, callback);
                    });
                }
                else if (google && google.gears) // Google Gears GeoLocation
                {
                    var geloc = google.gears.factory.create('beta.geolocation');
                    geloc.getPermission();
                    geloc.getCurrentPosition(function (position) {
                        zip_from_latlng(position.latitude, position.longitude, callback);
                    }, function (err) { });
                }
            }
            function zip_from_latlng(latitude, longitude, callback) {
                // Setup the Script using Geonames.org's WebService
                var script = document.createElement("script");
                script.src = "http://ws.geonames.org/findNearbyPostalCodesJSON?lat=" + latitude + "&lng=" + longitude + "&callback=" + callback;
                // Run the Script
                document.getElementsByTagName("head")[0].appendChild(script);
            }
            function example_callback(json) {
                // Now we have the data!  If you want to just assume it's the 'closest' zipcode, we have that below:
                zip = json.postalCodes[0].postalCode;
                country = json.postalCodes[0].countryCode;
                state = json.postalCodes[0].adminName1;
                county = json.postalCodes[0].adminName2;
                place = json.postalCodes[0].placeName;
                alert(zip);
            }



        </script>
    </head>
    <body>
        <header>
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse" id="main-menu">
                            <ul class="nav" id="main-menu-left">
                                <li><input type="button" value=" I AM SAFE " onclick="retrieve_zip("example_callback")" /></li>
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                            <section id="login">
                                @Html.Partial("_LoginPartial")
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="body" class="container" style="padding-top: 40px;">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            <footer id="footer">
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                    </div>
                </div>
            </footer>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
