@using DisasterReliefHub.Code
@using DisasterReliefHub.Domain.Models
@model List<DisasterReliefHub.Domain.Models.Agency>
@{
    ViewBag.Title = "Index";
}

<h2>Agencies</h2>
<section>
                <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (Agency agency in Model)
                        {
                            <tr>
                                <td>@agency.Name</td>
                                <td>@agency.Description</td>
                                <td>
                                   @if (SecurityHelper.IsCurrentUserAdmin())
                                   {
                                       <a href="@Url.Action("Edit", new { agencyId = agency.Id })">Edit</a>
                                   }
                                    <a href="@Url.Action("Index", "Donate", new {agencyId = agency.Id})">Donate</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
            <br/>
             @if (SecurityHelper.IsCurrentUserAdmin())
             {
                 <a class="btn btn-large" href="@Url.Action("Edit")">Add Agency</a>
             }
</section>
